<header>
        <nav class="nav1">
            <ul class="nav1-left">
                <li>
                    <a href=""><i class="fa-solid fa-microphone-lines"></i>
                        <p>English</p><i class="fa-solid fa-chevron-down"></i>
                    </a>
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-circle-half-stroke"></i>
                        <p>High Contrast</p>
                    </a>
                </li>
                <li>
                    <a href=""><i class="fa-regular fa-message"></i>
                        <p>Customer Support</p>
                    </a>
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-user" style="color: rgb(5, 5, 5);"></i>
                        <p>Contact Sales</p>
                    </a>
                </li>
            </ul>

            <div class="nav1-right">
                <i class="fa-solid fa-magnifying-glass"></i>

                <p><a href="./login.html">Log in</a></p>

                <p>About&nbsp;<i class="fa-solid fa-chevron-down"></i></p>
            </div>
        </nav>

    </header>


    <div class="second-nav">
        <nav class="nav2">
            <div class="nav2-left">
                <a href="">
                    <img src="./images/hubspot_logo.png" alt="">
                </a>

                <ul class="nav2-middle">
                    <li>
                        <p>Products</p><i class="fa-solid fa-chevron-down"></i>
                    </li>

                    <li>
                        <p>Solutions</p><i class="fa-solid fa-chevron-down"></i>
                    </li>

                    <li>
                        <a href="">Pricing</a>
                    </li>

                    <li>
                        <p>Resources</p><i class="fa-solid fa-chevron-down"></i>
                    </li>
                </ul>
            </div>

            <div class="nav2-right">
                <button id="gat">Get a demo</button>
                <button id="gsf"><a href="./signup.html">Get started free</a></button>

                <p><i class="fa-solid fa-bars"></i></p>
            </div>
        </nav>
    </div>

    